<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progate</title>
    <link rel="stylesheet" href="../static/css/lesson.css"> 
  </head>
  <body>
    <header class="header">
      <div class="header__nav">
        <div class="u-content-wrapper header__nav__wrapper">
          <div class="header__nav__logo">Shiro</div>
          <div class="hamburger-menu">
            <span class="hamburger-menu__line"></span>
            <span class="hamburger-menu__line--dummy"></span>
          </div>
        </div>
        <ul class="header-menu">
          <li class="header__menu__item"><a href="#">Concept</a></li>
          <li class="header__menu__item"><a href="#">Work</a></li>
          <li class="header__menu__item"><a href="#">Florist</a></li>
          <li class="header__menu__item"><a href="#">Shop information</a></li>
          <li class="header__menu__item"><a href="#">Contact us</a></li>
        </ul>
      </div>
      <div class="u-content-wrapper">
        <h1 class="header__title">Shiro</h1>
        <p class="header__title__sub">White flower shop</p>
      </div>
    </header>
    <section class="concept">
      <div class="u-content-wrapper">
        <h2 class="u-heading">Concept</h2>
        <p class="u-text">私たちShiroは、白いお花だけを取り扱うフラワーショップです。<br class="u-display__pc">色とりどりの花束も素敵だけれど、洗練された「白」の美しさを感じてほしい。<br class="u-display__pc">「白」に対する愛から生まれた静寂な時間が流れる店へ、ぜひお越しください。</p>
        <img class="concept__image" src="../static/css/images/lesson-img/concept.png">
      </div>
    </section>
    <section class="work">
      <div class="u-content-wrapper">
        <h2 class="u-heading">Work</h2>
        <p id="work__desc" class="u-text">オーダーメイドでのブーケ・アレンジメントのデザインのほか、<br class="u-display__pc">ウェディングやイベントの装花なども行なっています。<br class="u-display__pc">一人一人にあったご提案をさせていただきます。</p>
        <div class="work__contents__wrapper">
          <div class="work__contents">
            <div class="work__content">
              <img class="work__content__image work__image__gift" src="../static/css/images/lesson-img/work_gift.png" alt="白い花束の写真">
              <h3 class="work__content__heading">Gift</h3>
              <p class="work__content__text">花束をお送りしたいお相手、伝えたいお気持ちに合わせたプレゼント用花束のアレンジメントをさせていただきます。花言葉などの豆知識もお伝えします。</p>
            </div>
            <div class="work__content">
              <img class="work__content__image work__image__decoration" src="../static/css/images/lesson-img/work_decoretion.png" alt="ラッピングされたマカロンの写真">
              <h3 class="work__content__heading">Decoration</h3>
              <p class="work__content__text">お写真を彩るお花を一輪から販売。一定期間のご契約で定期的にご自宅へ配送させていただくことも可能です。</p>
            </div>
            <div class="work__content">
              <img class="work__content__image work__image__wedding" src="../static/css/images/lesson-img/work_wedding.png" alt="白いブーケの写真">
              <h3 class="work__content__heading">Wedding</h3>
              <p class="work__content__text">ウエディングドレスに合わせたブーケや式場の雰囲気に合う装花をご提案。お打ち合わせの流れや回数、費用などにつきましてはお問い合わせください。</p>
            </div>
            <div class="work__content">
              <img class="work__content__image work__image__for_yourself" src="../static/css/images/lesson-img/work_for_yourself.png" alt="部屋に白い花が飾られた写真">
              <h3 class="work__content__heading">For yourself</h3>
              <p class="work__content__text">お部屋の雰囲気やライフスタイルをお聞きしてご自宅用の花束をご提案し、少しでも長く咲かせるコツもお教えします。花束に合った花瓶をご提案することも可能です。</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="florist">
      <div class="u-content-wrapper">
        <h2 class="u-heading">Florist</h2>
        <p class="u-text">Shiro専属のフローリストたちをご紹介。<br class="u-display__pc">得意の分野であなたのオーダーを最大限に叶えます。</p>
        <div class="florist__persons__wrapper">
          <div class="florist__persons">
            <div class="florist__person">
              <img class="florist__person__image" src="../static/css/images/lesson-img/florist_shiyu.png" alt="shiyuの写真">
              <h3 class="florist__person__name">Shiyu</h3>
              <p class="florist__person__introduce">お花茶屋大学フラワーアレンジメント科を卒業後、さまざまな白い花を探すために世界を一周し、Shiroの創業者となる。</p>
            </div>
            <div class="florist__person">
              <img class="florist__person__image" src="../static/css/images/lesson-img/florist_mao.png" alt="maoの写真">
              <h3 class="florist__person__name">Mao</h3>
              <p class="florist__person__introduce">花の魅力に惹かれ、空間デザインの世界からフローリストの道を歩む。主に結婚式やイベントで使用するお花のディレクション担当。</p>
            </div>
            <div class="florist__person">
              <img class="florist__person__image" src="../static/css/images/lesson-img/florist_omichan.png" alt="omichanの写真">
              <h3 class="florist__person__name">Omichan</h3>
              <p class="florist__person__introduce">フローリスト兼ガーデナーという特殊な経歴をもつ。豊富な知識と技術でお客様のオーダーを叶える。</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="shopInformation">
      <div class="u-content-wrapper">
        <h2 class="u-heading">Shop information</h2>
        <p class="u-text">Shiroの店舗情報をご紹介します。</p>
        <div class="shopInformation__contents">
          <img class="shopInformation__image" src="../static/css/images/lesson-img/shop_information.png" alt="白い花の写真">
          <table class="shopInformation__table">
            <tr>
              <th class="shopInformation__table__heading">住所</th>
              <td>〒810-0001<br>福岡県福岡市中央区天神0-0-0</td>
            </tr>
            <tr>
              <th class="shopInformation__table__heading">電話番号</th>
              <td>0120-000-000</td>
            </tr>
            <tr>
              <th class="shopInformation__table__heading">営業時間</th>
              <td>11:00-20:30<br>（定休日：水曜日）</td>
            </tr>
            <tr>
              <th class="shopInformation__table__heading">アクセス</th>
              <td>天神駅12a出口から徒歩6分<br>東京駅8b出口から徒歩12分</td>
            </tr>
          </table>
        </div>
      </div>
    </section>
    <section class="contactUs">
      <div class="u-content-wrapper">
        <h2 class="u-heading">Contact us</h2>
        <p class="u-text">イベントや結婚式でご利用する装花のご相談や、<br>フラワーアレンジメントのご予約などはこちらからお問い合わせください。</p>
        <a class="btn__contact" href="#">お問い合わせ</a>
      </div>
    </section>
    <footer class="footer">
      <div class="u-content-wrapper">
        <small class="footer__copyright">Copyright © Shiro All Rights Reserved.</small>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(function() {
  
        const spBreakPoint = 670;
        let headerTop = 40;
        let headerHeight = 0;
  
        if ($(window).width() > spBreakPoint) {
          headerHeight = 620;
        } else {
          headerHeight = 355;
        }
  
        $(window).on('scroll', function () {
          if ($(window).width() > spBreakPoint) {
            if ($(this).scrollTop() > headerTop) {
              $('.header__nav').addClass('position-change');
            } else {
              $('.header__nav').removeClass('position-change');
            }
          }
          if ($(this).scrollTop() > headerHeight) {
            $('.header__nav').addClass('color-chnage');
          } else {
            $('.header__nav').removeClass('color-chnage');
          }
  
          let workDescTop = $('#work__desc').offset().top;
          if ($(this).scrollTop() > (workDescTop - 50)) {
            $('.work').addClass('arrow_display');
          }
        });
  
        /*** ハンバーガーメニューの表示/非表示 ***/
        $('.hamburger-menu').on('click', function() {
          $('.hamburger-menu').toggleClass('active');
          $('.header-menu').toggleClass('height-change');
        });
        $('.header__menu__item').on('click', function() {
          $('.hamburger-menu').removeClass('active');
          $('.header-menu').toggleClass('height-change');
        });
  
      });
      </script>
  </body>
</html>