<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prog</title>
    <link rel="stylesheet" href="../static/css/lesson.css"> 
    <script src="../static/js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="../static/js/script.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

  </head>
  <body>

    <div class="start">
      <p><img src="../static/css/images/prog3.png" alt="PROG"></p>
    </div>

    <header class="header">
      <div class="header__nav">
        <div class="u-content-wrapper header__nav__wrapper">
          <div class="header__nav__logo">Prog</div>
          <div class="hamburger-menu">
            <span class="hamburger-menu__line"></span>
            <span class="hamburger-menu__line--dummy"></span>
          </div>
        </div>
        <ul class="header-menu">
          <li class="header__menu__item"><a href="/login">Login</a></li>
          <li class="header__menu__item"><a href="/point">My Page</a></li>
          <li class="header__menu__item"><a href="/map">Lesson</a></li>
          <li class="header__menu__item"><a href="/logout">Logout</a></li>
          <li class="header__menu__item"><a href="#contact">Contact us</a></li>
        </ul>
      </div>
      <div class="u-content-wrapper">
        <h1 class="header__title">Hello World</h1>
        <p class="header__title__sub">programming learning guide</p>
      </div>
    </header>
    <section class="concept">
      <div class="u-content-wrapper">
        <h2 class="u-heading">Concept</h2>
        <p class="u-text">Progはプログラミングの基礎を学んだ方に向けた学習ガイドアプリです。<br class="u-display__pc">基礎は勉強したけれど、その後何をしたらいいか分からない…<br class="u-display__pc">そんな悩みを抱えている方に、効率よくスキルアップしていく学習方法を提案しています。</p>
        <img class="concept__image" src="../static/css/images/lesson-img/lesson-img2.jpg">
      </div>
    </section>
    <section class="work">
      <div class="u-content-wrapper">
        <h2 class="u-heading">Lesson</h2>
        <p id="work__desc" class="u-text">Progの学習方法はとっても簡単。<br class="u-display__pc">1回30分程度のタスクを順番通りに進めていくだけ！<br class="u-display__pc">タスクを進めるごとに基礎を深めていくことができます。</p>
        <div class="work__contents__wrapper">
          <div class="work__contents">
            <div class="work__content">
              <img class="work__content__image work__image__task" src="../static/css/images/lesson-img/lesson-img3.jpg" alt="">
              <h3 class="work__content__heading">Task</h3>
              <p class="work__content__text">自ら調べ学んでいくことで、タスクをこなすごとにスキルアップを実感できます。以降タスクリストの説明</p>
            </div>
            <div class="work__content">
              <img class="work__content__image work__image__point" src="../static/css/images/lesson-img/lesson-img4.jpg" alt="">
              <h3 class="work__content__heading">Point</h3>
              <p class="work__content__text">タスクをクリアしてくごとにポイントをGET！以降ポイントの説明</p>
            </div>
            <div class="work__content">
              <img class="work__content__image work__image__level" src="../static/css/images/lesson-img/lesson-img4.jpg" alt="">
              <h3 class="work__content__heading">Level</h3>
              <p class="work__content__text">タスクをクリアしていくごとにレベルがUP！以降レベルの説明</p>
            </div>
            <div class="work__content">
              <img class="work__content__image work__image__for_yourself" src="../static/css/images/lesson-img/lesson-img3.jpg" alt="">
              <h3 class="work__content__heading">説明</h3>
              <p class="work__content__text">説明</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="users">
      <div class="u-content-wrapper">
        <h2 class="u-heading">User's Voice</h2>
        <p class="u-text">実際にProgを利用した人たちの声をご紹介。<br class="u-display__pc">利用者のリアルな感想をお届けします。</p>
        <div class="users__voices__wrapper">
          <div class="users__voices">
            <div class="users__voice">
              <a href="#">
                <img class="users__voice__image" src="../static/css/images/lesson-img/user1.jpg" alt="user1の写真">
                <h3 class="users__voice__name">fox</h3>
                <p class="users__voice__introduce">帰宅してからの30分間、サクッと学べるのが魅力的です！いつの間にかProgで勉強するのが楽しみになっていました。</p>
              </a>
            </div>
            <div class="users__voice">
              <a href="#">
                <img class="users__voice__image" src="../static/css/images/lesson-img/user2.jpg" alt="user2の写真">
                <h3 class="users__voice__name">cat</h3>
                <p class="users__voice__introduce">自分のペースで学習を進められ、問題を解決するための実践的な訓練を積むことができたと感じます。</p>
              </a>
            </div>
            <div class="users__voice">
              <a href="#">
                <img class="users__voice__image" src="../static/css/images/lesson-img/user3.jpg" alt="user3の写真">
                <h3 class="users__voice__name">dog</h3>
                <p class="users__voice__introduce">Progは実際のWEBサービスなど、実践的なものを作っていくので、今後に役立ちそうです。</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="company">
      <div class="u-content-wrapper">
        <h2 class="u-heading">company </h2>
        <!-- <p class="u-text">Shiroの店舗情報をご紹介します。</p> -->
        <div class="company__contents">
          <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3294.4525666167947!2d134.0504019650728!3d34.33895838052892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z55Om55S6!5e0!3m2!1sja!2sjp!4v1608284901091!5m2!1sja!2sjp" width="500" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          <table class="company__table">
            <tr>
              <th class="company__table__heading">住所</th>
              <td>〒760-0000<br>香川県高松市△△△△0-0-0</td>
            </tr>
            <tr>
              <th class="company__table__heading">電話番号</th>
              <td>0120-000-000</td>
            </tr>
            <tr>
              <th class="company__table__heading">営業時間</th>
              <td>9:00-17:30<br>（定休日：土日祝日）</td>
            </tr>
          </table>
        </div>
      </div>
    </section>
    <section class="contactUs" id="contact">
      <div class="u-content-wrapper">
        <h2 class="u-heading">Contact us</h2>
        <p class="u-text">Progに関するお問い合わせはこちらから。</p>
        <a class="btn__contact" href="#">お問い合わせ</a>
      </div>
    </section>
    <footer class="footer">
      <div class="u-content-wrapper">
        <small class="footer__copyright">Copyright © Prog All Rights Reserved.</small>
      </div>
    </footer>


    <!-- 以下、script.jsに書き込み
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(function() {
  
        const spBreakPoint = 670;
        let headerTop = 40;
        let headerHeight = 0;
  
        if ($(window).width() > spBreakPoint) {
          headerHeight = 620;
        } else {
          headerHeight = 355;
        }
  
        $(window).on('scroll', function () {
          if ($(window).width() > spBreakPoint) {
            if ($(this).scrollTop() > headerTop) {
              $('.header__nav').addClass('position-change');
            } else {
              $('.header__nav').removeClass('position-change');
            }
          }
          if ($(this).scrollTop() > headerHeight) {
            $('.header__nav').addClass('color-chnage');
          } else {
            $('.header__nav').removeClass('color-chnage');
          }
  
          let workDescTop = $('#work__desc').offset().top;
          if ($(this).scrollTop() > (workDescTop - 50)) {
            $('.work').addClass('arrow_display');
          }
        });
  
        /*** ハンバーガーメニューの表示/非表示 ***/
        $('.hamburger-menu').on('click', function() {
          $('.hamburger-menu').toggleClass('active');
          $('.header-menu').toggleClass('height-change');
        });
        $('.header__menu__item').on('click', function() {
          $('.hamburger-menu').removeClass('active');
          $('.header-menu').toggleClass('height-change');
        });
  
      });
      </script> -->
  </body>
</html>