{% extends 'top.html' %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/login.css') }}">

<div class="start">
  <p><img src="../static/css/images/prog3.png" alt="PROG"></p>
</div>

<div class="login">
  <h2 class="active"> Login </h2>
  <form>
    <input type="text" class="text" name="name">
    <span>username</span><br><br>

    <input type="password" class="text" name="password">
    <span>password</span><br>

    <input type="checkbox" id="checkbox-1-1" class="custom-checkbox">

    <label for="checkbox-1-1">Keep me Signed in</label>
    
    <button class="signin"> Login </button>

    <hr>
    
    <p class="forget"><h2 class="nonactive"><a href="/regist"> Create Account </a></h2></p>
  </form>
</div>


{% endblock %}