{% extends 'top.html' %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/map.css') }}">

<div>
    <h2>学べること一覧</h2>
    <div class="content">
        <h3>ホームページ制作ができる環境を作ろう</h3>
        <nav id="example-one">
            <a href="#">Navigation</a>
            <a href="#">Navigation</a>
            <a href="#">Navigation</a>
        </nav>
    </div>
</div>

<div>
    <div class="content">
        <h3>ホームページ制作ができる環境を作ろう</h3>
        <nav id="example-two">
            <a href="#">Navigation</a>
            <a href="#">Navigation</a>
            <a href="#">Navigation</a>
        </nav>
    </div>
</div>

<div>
    <div class="content">
        <h3>ホームページ制作ができる環境を作ろう</h3>
        <nav id="example-three">
            <a href="#">Navigation</a>
            <a href="#">Navigation</a>
            <a href="#">Navigation</a>
        </nav>
    </div>
</div>

<div>
    <div class="content">
        <h3>ホームページ制作ができる環境を作ろう</h3>
        <nav id="example-four">
            <a href="#">Navigation</a>
            <a href="#">Navigation</a>
            <a href="#">Navigation</a>
        </nav>
    </div>
</div>

<div>
    <div class="content">
        <h3>ホームページ制作ができる環境を作ろう</h3>
        <nav id="example-five">
            <a href="#">Navigation</a>
            <a href="#">Navigation</a>
            <a href="#">Navigation</a>
        </nav>
    </div>
</div>

<div>
    <div class="content">
        <h3>ホームページ制作ができる環境を作ろう</h3>
        <nav id="example-six">
            <a href="#">Navigation</a>
            <a href="#">Navigation</a>
            <a href="#">Navigation</a>
        </nav>
    </div>
</div>

<div>
    <div class="content">
        <h3>ホームページ制作ができる環境を作ろう</h3>
        <nav id="example-seven">
            <a href="#">Navigation</a>
            <a href="#">Navigation</a>
            <a href="#">Navigation</a>
        </nav>
    </div>
</div>

<div>
    <div class="content">
        <h3>ホームページ制作ができる環境を作ろう</h3>
        <nav id="example-eight">
            <a href="#">Navigation</a>
            <a href="#">Navigation</a>
            <a href="#">Navigation</a>
        </nav>
    </div>
</div>

<div>
    <div class="content">
        <h3>ホームページ制作ができる環境を作ろう</h3>
        <nav id="example-nine">
            <a href="#">Navigation</a>
            <a href="#">Navigation</a>
            <a href="#">Navigation</a>
        </nav>
    </div>
</div>

<div>
    <div class="content">
        <h3>ホームページ制作ができる環境を作ろう</h3>
        <nav id="example-ten">
            <a href="#">Navigation</a>
            <a href="#">Navigation</a>
            <a href="#">Navigation</a>
        </nav>
    </div>
</div>

<div>
    <div class="content">
        <h3>ホームページ制作ができる環境を作ろう</h3>
        <nav id="example-eleven">
            <a href="#">Navigation</a>
            <a href="#">Navigation</a>
            <a href="#">Navigation</a>
        </nav>
    </div>
</div>

<div>
    <div class="content">
        <h3>ホームページ制作ができる環境を作ろう</h3>
        <nav id="example-twelve">
            <a href="#">Navigation</a>
            <a href="#">Navigation</a>
            <a href="#">Navigation</a>
        </nav>
    </div>
</div>

<div>
    <h2>学べること一覧</h2>
    <div class="content">
        <h3>ホームページ制作ができる環境を作ろう</h3>
        <nav id="example-thirteen">
            <a href="#">Navigation</a>
            <a href="#">Navigation</a>
            <a href="#">Navigation</a>
        </nav>
    </div>
</div>

<div>
    <div class="content">
        <h3>ホームページ制作ができる環境を作ろう</h3>
        <nav id="example-fourteen">
            <a href="#">Navigation</a>
            <a href="#">Navigation</a>
            <a href="#">Navigation</a>
        </nav>
    </div>
</div>

<div>
    <div class="content">
        <h3>ホームページ制作ができる環境を作ろう</h3>
        <nav id="example-fifteen">
            <a href="#">Navigation</a>
            <a href="#">Navigation</a>
            <a href="#">Navigation</a>
        </nav>
    </div>
</div>

<div>
    <div class="content">
        <h3>ホームページ制作ができる環境を作ろう</h3>
        <nav id="example-sixteen">
            <a href="#">Navigation</a>
            <a href="#">Navigation</a>
            <a href="#">Navigation</a>
        </nav>
    </div>
</div>

<div>
    <div class="content">
        <h3>ホームページ制作ができる環境を作ろう</h3>
        <nav id="example-seventeen">
            <a href="#">Navigation</a>
            <a href="#">Navigation</a>
            <a href="#">Navigation</a>
        </nav>
    </div>
</div>

<div>
    <div class="content">
        <h3>ホームページ制作ができる環境を作ろう</h3>
        <nav id="example-eightteen">
            <a href="#">Navigation</a>
            <a href="#">Navigation</a>
            <a href="#">Navigation</a>
        </nav>
    </div>
</div>



<script>
    // mappage
    $.fn.stairwayNav = function (options) {
        var defaults = {
            stairs: 3
        };
        this.options = $.extend({}, defaults, options);
        var stairs = this.options.stairs;

        var allLinks = this.find("a");

        allLinks
            .mouseenter(function () {
                $(this).addClass("active-1");
                var index = $(this).index(),
                    i,
                    bef,
                    aft;
                for (i = 1; i < stairs; i++) {
                    bef = index - i;
                    aft = index + i;

                    allLinks.eq(aft).addClass("active-" + (i + 1));
                    if (bef > 0) {
                        allLinks.eq(bef).addClass("active-" + (i + 1));
                    }
                }
            })
            .mouseleave(function () {
                allLinks.removeClass("active-1 active-2 active-3 active-4");
            });
        return this;
    };

    $("#example-one").stairwayNav({
        stairs: 1
    });

    $("#example-two").stairwayNav({
        stairs: 2
    });

    $("#example-three").stairwayNav({
        // Default is 3
    });

    $("#example-four").stairwayNav({
        stairs: 4
    });
</script>

{% endblock %}