{% extends 'top.html' %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/map.css') }}">

<div>
    <h2>学べること一覧</h2>
    <div class="content">
        <h3>{{category_info[1][0]}}</h3>
        <nav id="example-one">
            <a href="#">{{map_info[0][0]}}<button class="button">完了</button></a>
            <a href="#">{{map_info[1][0]}}</a>
            <a href="#">{{map_info[2][0]}}</a>
        </nav>
    </div>
</div>

<div>
    <div class="content">
        <h3>{{category_info[2][0]}}</h3>
        <nav id="example-two">
            <a href="#">{{map_info[3][0]}}</a>
            <a href="#">{{map_info[4][0]}}</a>
            <a href="#">{{map_info[5][0]}}</a>
        </nav>
    </div>
</div>

<div>
    <div class="content">
        <h3>{{category_info[3][0]}}</h3>
        <nav id="example-three">
            <a href="#">{{map_info[6][0]}}</a>
            <a href="#">{{map_info[7][0]}}</a>
            <a href="#">{{map_info[8][0]}}</a>
        </nav>
    </div>
</div>

<div>
    <div class="content">
        <h3>{{category_info[4][0]}}</h3>
        <nav id="example-four">
            <a href="#">{{map_info[9][0]}}</a>
            <a href="#">{{map_info[10][0]}}</a>
            <a href="#">{{map_info[11][0]}}</a>
        </nav>
    </div>
</div>

<div>
    <div class="content">
        <h3>{{category_info[5][0]}}</h3>
        <nav id="example-five">
            <a href="#">{{map_info[12][0]}}</a>
            <a href="#">{{map_info[13][0]}}</a>
            <a href="#">{{map_info[14][0]}}</a>
        </nav>
    </div>
</div>

<div>
    <div class="content">
        <h3>{{category_info[6][0]}}</h3>
        <nav id="example-six">
            <a href="#">{{map_info[15][0]}}</a>
            <a href="#">{{map_info[16][0]}}</a>
            <a href="#">{{map_info[17][0]}}</a>
        </nav>
    </div>
</div>

<div>
    <div class="content">
        <h3>{{category_info[7][0]}}</h3>
        <nav id="example-seven">
            <a href="#">{{map_info[18][0]}}</a>
            <a href="#">{{map_info[19][0]}}</a>
            <a href="#">{{map_info[20][0]}}</a>
        </nav>
    </div>
</div>

<div>
    <div class="content">
        <h3>{{category_info[8][0]}}</h3>
        <nav id="example-eight">
            <a href="#">{{map_info[21][0]}}</a>
            <a href="#">{{map_info[22][0]}}</a>
            <a href="#">{{map_info[23][0]}}</a>
        </nav>
    </div>
</div>

<div>
    <div class="content">
        <h3>{{category_info[9][0]}}</h3>
        <nav id="example-nine">
            <a href="#">{{map_info[24][0]}}</a>
            <a href="#">{{map_info[25][0]}}</a>
            <a href="#">{{map_info[26][0]}}</a>
        </nav>
    </div>
</div>

<div>
    <div class="content">
        <h3>{{category_info[10][0]}}</h3>
        <nav id="example-ten">
            <a href="#">{{map_info[27][0]}}</a>
            <a href="#">{{map_info[28][0]}}</a>
            <a href="#">{{map_info[29][0]}}</a>
        </nav>
    </div>
</div>

<div>
    <div class="content">
        <h3>{{category_info[11][0]}}</h3>
        <nav id="example-eleven">
            <a href="#">{{map_info[30][0]}}</a>
            <a href="#">{{map_info[31][0]}}</a>
            <a href="#">{{map_info[32][0]}}</a>
        </nav>
    </div>
</div>

<div>
    <div class="content">
        <h3>{{category_info[12][0]}}</h3>
        <nav id="example-twelve">
            <a href="#">{{map_info[33][0]}}</a>
            <a href="#">{{map_info[34][0]}}</a>
            <a href="#">{{map_info[35][0]}}</a>
        </nav>
    </div>
</div>

<div>
    <div class="content">
        <h3>{{category_info[13][0]}}</h3>
        <nav id="example-thirteen">
            <a href="#">{{map_info[36][0]}}</a>
            <a href="#">{{map_info[37][0]}}</a>
            <a href="#">{{map_info[38][0]}}</a>
        </nav>
    </div>
</div>

<div>
    <div class="content">
        <h3>{{category_info[14][0]}}</h3>
        <nav id="example-fourteen">
            <a href="#">{{map_info[39][0]}}</a>
            <a href="#">{{map_info[40][0]}}</a>
            <a href="#">{{map_info[41][0]}}</a>
        </nav>
    </div>
</div>

<div>
    <div class="content">
        <h3>{{category_info[15][0]}}</h3>
        <nav id="example-fifteen">
            <a href="#">{{map_info[42][0]}}</a>
            <a href="#">{{map_info[43][0]}}</a>
            <a href="#">{{map_info[44][0]}}</a>
        </nav>
    </div>
</div>

<div>
    <div class="content">
        <h3>{{category_info[16][0]}}</h3>
        <nav id="example-sixteen">
            <a href="#">{{map_info[45][0]}}</a>
            <a href="#">{{map_info[46][0]}}</a>
            <a href="#">{{map_info[47][0]}}</a>
        </nav>
    </div>
</div>

<div>
    <div class="content">
        <h3>{{category_info[17][0]}}</h3>
        <nav id="example-seventeen">
            <a href="#">{{map_info[48][0]}}</a>
            <a href="#">{{map_info[49][0]}}</a>
            <a href="#">{{map_info[50][0]}}</a>
        </nav>
    </div>
</div>


<script>
    // mappage
    $.fn.stairwayNav = function (options) {
        var defaults = {
            stairs: 3
        };
        this.options = $.extend({}, defaults, options);
        var stairs = this.options.stairs;

        var allLinks = this.find("a");

        allLinks
            .mouseenter(function () {
                $(this).addClass("active-1");
                var index = $(this).index(),
                    i,
                    bef,
                    aft;
                for (i = 1; i < stairs; i++) {
                    bef = index - i;
                    aft = index + i;

                    allLinks.eq(aft).addClass("active-" + (i + 1));
                    if (bef > 0) {
                        allLinks.eq(bef).addClass("active-" + (i + 1));
                    }
                }
            })
            .mouseleave(function () {
                allLinks.removeClass("active-1 active-2 active-3 active-4");
            });
        return this;
    };

    $("#example-one").stairwayNav({
        stairs: 1
    });

    $("#example-two").stairwayNav({
        stairs: 2
    });

    $("#example-three").stairwayNav({
        // Default is 3
    });

    $("#example-four").stairwayNav({
        stairs: 4
    });
</script>

{% endblock %}