{% extends 'top.html' %}
{% block content %}



<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/menu.css') }}">


<nav class="circular-menu">
  <div class="menu-trigger">Prog</div>
    <div class="menu">
      <div class="menu__bg"></div>
      <nav class="menu__container">
        <P><a href="/login">SIGN IN</a></P>
        <P></P><a href="/use">HOW TO USE</a></P>
      </nav>
      <div class="menu__close"></div>
  </div>
</nav>
  

<script>
  $(".menu-trigger").click(function(){
  $(this).addClass("menu-trigger--active");
  $('.menu').show();
  $('.menu__bg').addClass("menu__bg--active");
  $('.menu__container').addClass("menu__container--active");
});

$(".menu__close").click(function(){
  $(".menu-trigger").removeClass("menu-trigger--active");
  $('.menu').hide();
  $('.menu__bg').removeClass("menu__bg--active");
  $('.menu__container').removeClass("menu__container--active");
});
</script>


{% endblock %}