<!-- <!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">

    <title>prog</title>
</head>

<body>
    <header>

        <div class="hum_menu">
            <a href="javascript:void(0);">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
    </header>

    <div class="name">
        <h1>ようこそ{{name}}さん</h1>
        <span date-radium></span>
    </div>

    <div class="level">
        <p>現在{{x}}pです。</p>
        <p>あと{{blance}}pで、<br> Lv.{{y}}です</p>
    </div>

    <footer>
        <a href="top.html" class="btn">TOPへ</a>
        <a href="top.html" class="btn">追加</a>
    </footer>



</body>
</html> -->

{% extends 'top.html' %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/point.css') }}">
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>


<div class="status">
    <div class="user-profile">
        <div class="user-image">
            <img src="../static/css/images/lesson-img/user1.jpg" class="image" width="120"
                height="120">
            <!-- <p>FOX</p> -->
        </div>

        <div class="user-status">
            <div class="user-name">ユーザー名：{{user_status[1]}}</div>
            <div class="user-point">ポイント：{{user_status[3]}}</div>
            <div class="user-lv">Lv.{{user_status[4]}}</div>
        </div>

    </div>


    <div class="next-task">
        <p>ww</p>
    </div>

    <div class="point-task">
        <p>aaaaaa</p>
    </div>

</div>













{% endblock %}