{% extends 'top.html' %}
{% block content %}


<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/regist.css') }}">
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<div class="login">
    <h2 class="active"> Create Account </h2>
    <form action="/regist" method="POST">
      <input type="text" class="text" name="name">
      <span>username</span><br><br>
  
      <input type="password" class="text" name="password">
      <span>password</span><br>
  
      <input type="submit" name="save" value="Sign Up" class="signin">
  
    </form>
  </div>


{% endblock %}