<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <title>prog</title>
</head>

<body>

    <!-- ハンバーガーメニュー -->
    <header class="header">
        <div class="header__nav">
          <div class="u-content-wrapper header__nav__wrapper">
            <div class="header__nav__logo">Prog</div>
            <div class="hamburger-menu">
              <span class="hamburger-menu__line"></span>
              <span class="hamburger-menu__line--dummy"></span>
            </div>
          </div>
          <ul class="header-menu">
            <li class="header__menu__item"><a href="/login">Login</a></li>
            <li class="header__menu__item"><a href="/point">My Page</a></li>
            <li class="header__menu__item"><a href="/map">Lesson</a></li>
            <li class="header__menu__item"><a href="/logout">Logout</a></li>
            <li class="header__menu__item"><a href="/lesson">Progとは</a></li>
          </ul>
        </div>
      </header>
    <!-- ハンバーガーメニュー -->


    {% block content %}
    


    {% endblock %}

</body>

</html>